
#panel,#flip
{
	padding:5px;
	text-align:center;
	background-color:#e5eecc;
	border:solid 1px #c3c3c3;
}
#panel
{
  padding:10px;
}
#aaa{
  height: 600px;
  width: 100%;
  background-color: burlywood;
  display: none;
}
* {  
  margin: 0;  
  padding: 0;  
}  

img {  
  display: inline-block;  
}  

.goods {  
  width: 50%;  
  text-align: center;  
  margin: 50px auto;  
}  

.goods img {  
  animation: myfirst 2s infinite;  
}  

@keyframes myfirst {  
  0% {  
      transform: translate(0px, 0px);  
  }  
  50% {  
      transform: translate(0px, -10px);  
  }  
  100% {  
      transform: translate(0px, 0px);  
  }  
}  