
body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(back2.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#flip{
  background-image: url(back.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fbb3c4;
  background-size: cover;
	padding:5px;
	text-align:center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.logo{
  width: 250px;
  height: 100px;
  background-color: coral;
}
.someting{
  width: 250px;
  height: 100px;
  background-color:sandybrown;
}
#panel
{
  padding:10px;
}
#aaa{
  width: 100%;
  display: none;
}
.eee{
  height: 400px;
  width: 100%;
  background-color: #faebd782e;
}
.ddd{
  height: 500px;
  width: 100%;
  background-color: #5f9ea07d;;
}
* {  
  margin: 0;  
  padding: 0;  
}  

img {  
  display: inline-block;  
}  

.goods {  
  width: 94%;  
  text-align: center;  
  margin: 0px auto;  
  position: fixed;
  bottom: 0px;
}  

.goods img {  
  animation: myfirst 2s infinite;  
}  

@keyframes myfirst {  
  0% {  
      transform: translate(0px, 0px);  
  }  
  50% {  
      transform: translate(0px, -10px);  
  }  
  100% {  
      transform: translate(0px, 0px);  
  }  
}  